<mat-card>
  <div>
    <div class="featuredHeader">
      <h1>{{adventure.seriescode}}{{adventure.seriesnumber}}: {{adventure.title}}</h1>
    </div>

    <div>
      <div class="adventureCoverShell featuredShell">
        <img *ngIf="!adventure.locked" class="adventureCovers" [src]="imageBase + adventure.id" [alt]="adventure.title">
        <div class="adventureLocked" *ngIf="adventure.locked">
          <img class="adventureCovers" [src]="imageBase + adventure.id" [alt]="adventure.title">
          <div class="adventureLock"></div>

          <i *ngIf="adventure.tooltip === 'Early Access'" matTooltip="{{adventure.tooltip}}" matTooltipPosition="right"
            class="fas fa-dice-d20"></i>
          <i *ngIf="adventure.tooltip === 'Advanced'" matTooltip="{{adventure.tooltip}}" matTooltipPosition="right"
            class="fas fa-plus"></i>
        </div>
      </div>

      <quill-view-html [content]="adventure.summary"></quill-view-html>
    </div>
  </div>
</mat-card>

<mat-card *ngIf="!adventure.locked">
  <h1>Meta Notes</h1>
  <quill-view-html [content]="adventure.meta"></quill-view-html>
</mat-card>

<mat-card>
  <h1>Search Information</h1>
  <div class="chipShell">
    <strong *ngIf="adventure.author.length === 1">Author:</strong>
    <strong *ngIf="adventure.author.length > 1">Authors:</strong>
    <div>
      <mat-chip-list>
        <mat-chip (click)="navigateToSearch('environ', environ.environid)" *ngFor="let author of adventure.author"
          color="primary" selected>
          {{author.name}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="chipShell">
    <strong>Environs:</strong>
    <div>
      <mat-chip-list>
        <mat-chip (click)="navigateToSearch('environ', environ.environid)" *ngFor="let environ of adventure.environ"
          color="primary" selected>
          {{environ.environid | environConverter}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>
  <div class="searchInfoShell">
    <span><strong>Type:</strong> {{adventure.type}}</span>
    <span><strong>Part Of:</strong> {{adventure.seriestitle}}</span>
    <span><strong>Level Range:</strong> {{adventure.levelmin}}-{{adventure.levelmax}}</span>
    <span><strong>Length:</strong> {{adventure.pages}} pages</span>
    <span><strong>Subsystem Focus:</strong> {{adventure.subsystem}}</span>
    <span><strong>Setting:</strong> {{adventure.setting}}</span>
    <span><strong>Pregens:</strong> 
      <i *ngIf="adventure.pregens" class="fa fa-check-square" aria-hidden="true"></i>
      <i *ngIf="!adventure.pregens" class="fa fa-square-o" aria-hidden="true"></i>
    </span>
    <span><strong>Handouts:</strong> 
      <i *ngIf="adventure.handouts" class="fa fa-check-square" aria-hidden="true"></i>
      <i *ngIf="!adventure.handouts" class="fa fa-square-o" aria-hidden="true"></i>
    </span>
    <span><strong>Battle Maps:</strong> 
      <i *ngIf="adventure.battlemap" class="fa fa-check-square" aria-hidden="true"></i>
      <i *ngIf="!adventure.battlemap" class="fa fa-square-o" aria-hidden="true"></i>
    </span>
    <span><strong>Player's Guide:</strong> 
      <i *ngIf="adventure.playerguide" class="fa fa-check-square" aria-hidden="true"></i>
      <i *ngIf="!adventure.playerguide" class="fa fa-square-o" aria-hidden="true"></i>
    </span>
    <span><strong>Plot Twist:</strong> <i class="fa fa-check-square" aria-hidden="true"></i></span>
  </div>
</mat-card>

<mat-card>
  <h1>Downloads</h1>
  <div *ngIf="!adventure.locked" class="downloadButtons">
    <div>
      <button mat-raised-button color="primary" 
        (click)="downloadAdventure()">Download</button>
      <span><strong>Version Number: </strong>{{adventure.version}}</span>
    </div>
    
    <button mat-raised-button color="primary"
      >Download Maps & Handouts</button>
  </div>

  <div *ngIf="adventure.locked" class="patreonLockedMessage">
    <p>You currently don't have the Patreon tier to access this Adventure.</p>
    <p>You can visit our Patreon <a href="https://www.patreon.com/bonfireRPG" target="_blank">here</a></p>
  </div>
  
  <button *ngIf="loginService.userLoggedIn && loginService.userLoggedIn.id === 1" mat-raised-button color="primary"
    [routerLink]="['/add', adventure.id]">Edit</button>
</mat-card>