mat-card {
    max-width: 75%;
    margin: 0 auto 15px;
  }
  
  mat-card:first-child {
    min-height: 50vw;
  }
  
  .adventureCoverShell {
    width: 32%;
    margin-bottom: 15px;
  }
  
  p {
    margin-bottom: 10px;
    text-indent: 50px;
  }
  
  .featuredShell {
    float: left;
    margin: 0 15px 15px 0;
  }
  
  .featuredHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  h1 {
    font-size: 25px;
  }
  
  .adventureLocked {
    position: relative;
  }
  
  img {
    width: 100%;
  }
  
  .adventureLock {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 99.5%;
    background: rgba(0, 0, 0, 0.35);
  }
  
  .searchInfoShell span {
    width: 25%
  }

  #addSearchInfoShell {
    max-height: 100%
  }

  

  .chipShell {
    display: flex;
    padding: 5px;
    align-items: center;
    margin-top: 10px;
  }

  .chipShell div {
    margin-left: 10px
  }

  .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
    background: whitesmoke;
    color: black;
    margin: 0
  }