<mat-card>
  <div>
    <div class="featuredHeader">
      <mat-form-field>
        <input matInput placeholder="Series Code" [value]="adventure.seriescode"
          (change)="captureInput($event, 'seriescode')">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Series Number" [value]="adventure.seriesnumber"
          (change)="captureInput($event, 'seriesnumber')">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Title" [value]="adventure.title" (change)="captureInput($event, 'title')">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Patreon Level</mat-label>
        <mat-select [value]="adventure.patreontier" (selectionChange)="captureSelect($event, 'patreontier')">
          <mat-option value="0">
            Basic
          </mat-option>
          <mat-option value="3">
            Advanced
          </mat-option>
          <mat-option value="20">
            Early Access
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="adventureCoverShell featuredShell">
        <img *ngIf="!adventure.locked" class="adventureCovers" [src]="imageBase + adventure.id" [alt]="adventure.title">
        <div class="adventureLocked" *ngIf="adventure.locked">
          <img class="adventureCovers" [src]="imageBase + adventure.id" [alt]="adventure.title">
          <div class="adventureLock"></div>
          <i matTooltip="{{adventure.tooltip}}" matTooltipPosition="right" class="fas fa-lock"></i>
        </div>
      </div>

      <div class="margin-spacing" *ngIf="adventure.id">
        <input (change)="onImagePicked($event)" placeholder="Upload Cover" type="file" />
        <button mat-button-raised color="accent" (click)="onImageUpload()">Upload Cover</button>
      </div>

      <div class="margin-spacing" *ngIf="!adventure.id">
        <h3>You need to save this adventure before uploading a cover and pdf</h3>
      </div>

      <quill-editor [(ngModel)]="adventure.summary" (onContentChanged)="captureHTML($event, 'summary')"></quill-editor>
    </div>
  </div>
</mat-card>

<mat-card>
  <h1>Meta Notes</h1>
</mat-card>

<mat-card>
  <h1>Search Information</h1>
  <mat-form-field>
    <mat-label>Type</mat-label>
    <mat-select [value]="adventure.type" (selectionChange)="captureSelect($event, 'type')">
      <mat-option value="Campaign">
        Campaign
      </mat-option>
      <mat-option value="Adventure">
        Adventure
      </mat-option>
      <mat-option value="Locale">
        Locale
      </mat-option>
      <mat-option value="Encounter">
        Encounter
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>

<mat-card>
  <h1>Downloads</h1>
  <div class="margin-spacing" *ngIf="adventure.id">
    <input (change)="onPDFSelect($event)" placeholder="Upload PDF" type="file" />
    <button mat-button-raised color="accent" (click)="onPDFUpload()">Upload PDF</button>
  </div>
</mat-card>

<mat-card>
  <button (click)="saveChanges()" mat-raised-button color="primary">Save</button>
</mat-card>