<mat-card>
  <div>
    <div class="featuredHeader">
      <mat-form-field>
        <input matInput placeholder="Series Code" [value]="adventure.seriescode"
          (change)="captureInput($event, 'seriescode')">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Series Number" [value]="adventure.seriesnumber"
          (change)="captureInput($event, 'seriesnumber')">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Title" [value]="adventure.title" (change)="captureInput($event, 'title')">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Patreon Level</mat-label>
        <mat-select [value]="adventure.patreontier" (selectionChange)="captureSelect($event, 'patreontier')">
          <mat-option value="0">
            Basic
          </mat-option>
          <mat-option value="3">
            Advanced
          </mat-option>
          <mat-option value="20">
            Early Access
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="adventureCoverShell featuredShell">
        <img *ngIf="!adventure.locked" class="adventureCovers" [src]="imageBase + adventure.id" [alt]="adventure.title">
        <div class="adventureLocked" *ngIf="adventure.locked">
          <img class="adventureCovers" [src]="imageBase + adventure.id" [alt]="adventure.title">
          <div class="adventureLock"></div>
          <i matTooltip="{{adventure.tooltip}}" matTooltipPosition="right" class="fas fa-lock"></i>
        </div>
      </div>

      <div class="margin-spacing" *ngIf="adventure.id">
        <input (change)="onImagePicked($event)" placeholder="Upload Cover" type="file" />
        <button mat-button-raised color="accent" (click)="onImageUpload()">Upload Cover</button>
      </div>

      <div class="margin-spacing" *ngIf="!adventure.id">
        <h3>You need to save this adventure before uploading a cover and pdf</h3>
      </div>

      <quill-editor [(ngModel)]="adventure.summary" (onContentChanged)="captureHTML($event, 'summary')"></quill-editor>
    </div>
  </div>
</mat-card>

<mat-card>
  <h1>Meta Notes</h1>
</mat-card>

<mat-card>
  <h1>Search Information</h1>
  <div class="chipShell">
    <strong>Author(s):</strong>
    <div>
      <mat-chip-list>
        <div *ngFor="let author of adventure.author; let i = index">
          <mat-chip *ngIf="!author.deleted" (click)="removeNewSecondaryItem('author', i)" color="primary" selected>
            {{author.name}}</mat-chip>
        </div>
      </mat-chip-list>
    </div>
  </div>
  
  <mat-form-field>
    <input matInput placeholder="Author" (change)="captureChipInput($event, 'author')">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addChip('author')">Add Author</button>

  <div class="chipShell">
    <strong>Environ(s):</strong>
    <div>
      <mat-chip-list>
        <div *ngFor="let environ of adventure.environ; let i = index">
          <mat-chip *ngIf="!environ.deleted" (click)="removeNewSecondaryItem('environ', i)" color="primary" selected>
            {{environ.environid | environConverter}}</mat-chip>
        </div>
      </mat-chip-list>
    </div>
  </div>

  <mat-form-field>
    <mat-label>Select New Environ</mat-label>
    <mat-select (selectionChange)="captureChip($event, 'environ')">
      <mat-option value="1">
        Dungeon/Ruins
      </mat-option>
      <mat-option value="2">
        Wilderness
      </mat-option>
      <mat-option value="3">
        Forest
      </mat-option>
      <mat-option value="4">
        Castle
      </mat-option>
      <mat-option value="5">
        Cave/Underground
      </mat-option>
      <mat-option value="6">
        Mountain
      </mat-option>
      <mat-option value="7">
        Plains
      </mat-option>
      <mat-option value="8">
        Swamp
      </mat-option>
      <mat-option value="9">
        Urban
      </mat-option>
      <mat-option value="10">
        Ship
      </mat-option>
      <mat-option value="11">
        Coastal
      </mat-option>
      <mat-option value="12">
        Aquatic
      </mat-option>
      <mat-option value="13">
        Other
      </mat-option>
      <mat-option value="14">
        Desert
      </mat-option>
      <mat-option value="15">
        Island
      </mat-option>
      <mat-option value="16">
        Jungle
      </mat-option>
      <mat-option value="17">
        Sewer
      </mat-option>
      <mat-option value="18">
        House
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addChip('environ')">Add Environment</button>

  <div class="searchInfoShell" id="addSearchInfoShell">
    <span>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select [value]="adventure.type" (selectionChange)="captureSelect($event, 'type')">
          <mat-option value="Campaign">
            Campaign
          </mat-option>
          <mat-option value="Adventure">
            Adventure
          </mat-option>
          <mat-option value="Locale">
            Locale
          </mat-option>
          <mat-option value="Encounter">
            Encounter
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field>
        <input matInput placeholder="Min level" [value]="adventure.levelmin"
          (change)="captureInput($event, 'levelmin')">
      </mat-form-field>
    </span>
    <span>
      <mat-form-field>
        <input matInput placeholder="Max level" [value]="adventure.levelmax"
          (change)="captureInput($event, 'levelmax')">
      </mat-form-field>
    </span>
    <span>
      <mat-form-field>
        <input matInput placeholder="Pages" [value]="adventure.pages" (change)="captureInput($event, 'pages')">
      </mat-form-field>
    </span>
    <span>
      <mat-form-field>
        <mat-label>Subsystem Focus</mat-label>
        <mat-select [value]="adventure.subsystem" (selectionChange)="captureSelect($event, 'subsystem')">
          <mat-option value="Combat">
            Combat
          </mat-option>
          <mat-option value="Social">
            Social
          </mat-option>
          <mat-option value="Skill">
            Skill
          </mat-option>
          <mat-option>
            None
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field>
        <mat-label>Setting</mat-label>
        <mat-select [value]="adventure.setting" (selectionChange)="captureSelect($event, 'setting')">
          <mat-option value="The Sacred Crucible (Basic)">
            The Sacred Crucible (Basic)
          </mat-option>
          <mat-option value="One Thousand Knives (Advanced)">
            One Thousand Knives (Advanced)
          </mat-option>
          <mat-option value="A Land to Break Men">
            A Land to Break Men
          </mat-option>
          <mat-option value="Empire Reborn">
            Empire Reborn
          </mat-option>
          <mat-option value="Dread Sun">
            Dread Sun
          </mat-option>
          <mat-option value="Starjammer">
            Starjammer
          </mat-option>
          <mat-option value="Agnostic">
            Agnostic
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>

    <span>
      <mat-checkbox [checked]="adventure.pregens" (change)="captureBoolean($event, 'pregens')" labelPosition="before">
        Pregens
      </mat-checkbox>
    </span>
    <span>
      <mat-checkbox [checked]="adventure.handouts" (change)="captureBoolean($event, 'handouts')" labelPosition="before">
        Handouts
      </mat-checkbox>
    </span>
    <span>
      <mat-checkbox [checked]="adventure.battlemaps" (change)="captureBoolean($event, 'battlemaps')"
        labelPosition="before">
        Battle Maps
      </mat-checkbox>
    </span>
    <span>
      <mat-checkbox [checked]="adventure.playerguide" (change)="captureBoolean($event, 'playerguide')"
        labelPosition="before">
        Player Guide
      </mat-checkbox>
    </span>
  </div>
</mat-card>

<mat-card>
  <h1>Downloads</h1>
  <div class="margin-spacing" *ngIf="adventure.id">
    <input (change)="onPDFSelect($event)" placeholder="Upload PDF" type="file" />
    <button mat-button-raised color="accent" (click)="onPDFUpload()">Upload PDF</button>
  </div>
  <mat-form-field>
    <input matInput placeholder="Version" [value]="adventure.version" (change)="captureInput($event, 'version')">
  </mat-form-field>
</mat-card>

<mat-card>
  <button (click)="saveChanges()" mat-raised-button color="primary">Save</button>
</mat-card>